/*
	red: #FF5349
	blue:#4F80E1
*/

body{
	background-color: #232C44;
	color: #F0F0F1;
}

.card{
	background-color: #F0F0F1;
	color: #302D33;
}

.card.card.with-badge .badge span{
	background-color: #FF5349;
	color: #F0F0F1;
}

.blue{
	background-color: #4F80E1;
}


.light-text{
	color: #F0F0F1;

}