/* You can add global styles to this file, and also import other style files */
@import './styles/defaults.css';
@import './styles/colors.css';
@import 'ng-pick-datetime/assets/style/picker.min.css';

.large-padding{
	padding: 10px 15px;	
}

.lateral-padding{
	padding: 0 15px;	
}
.float-right{
	float: right;
}

.text-right{
	text-align: right;
}

.small-font{
	font-size: 0.8rem;
}

.top-space{
	margin-top: 1em;
}

.overflow-hidden{
	overflow: hidden;
}

.full-width{
	width: 100%;
}

.no-background{
	background: transparent;
}
button.no-background{
	font-size: 1em;
	outline: 0;
	border:0;
}
.pointer{
	cursor: pointer;
}

.card{
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-sizing: border-box;
	position: relative;
}
.card.with-badge{
	display: grid;
	grid-template-columns: repeat(10,1fr);
	grid-template-areas: "title title title title title title title title badge badge";
	align-items: center;
}

.card.card.with-badge h4{
	grid-area: title;
}

.card.card.with-badge .badge{
	grid-area: badge;
	display: flex;
	justify-content: flex-end;
}

.card.card.with-badge .badge span{
	height: 3em;
	width: 3em;
	border-radius: 50%;
	font-size: 0.7em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.todo-card{
	position: relative;
}

.todo-card:after{
	position: absolute;
	z-index: -1;
	content: '\f00c';
	font-family: FontAwesome;
	top: 50%;
	right: -2em;
	font-weight: bold;
	color: #18CDCA;

}

.form-control{
	width: 100%;
	outline: 0;
	border: 0;
	display: block;
	padding: 10px 15px;
	margin-top:  1em;
	font-size:  1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-sizing: border-box; 
}

.btn{
	border: 0;
	outline: 0;
	border-radius: 4px;
	padding: 1em 1.5em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 1em;
	box-sizing: border-box;
	text-transform: uppercase;
	cursor: pointer;

}

.main-nav .float-right a{
	margin-left: 1em;
}

.main-nav .float-right a span{
	margin-left: 5px;
}

.main-nav a{
	text-decoration: none;
}